
{% extends 'base.html' %}
{% block css %}

<!-- 引入 layui.css -->
<link href="//unpkg.com/layui@2.8.0/dist/css/layui.css" rel="stylesheet">
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.8.0/dist/layui.js"></script>

    <style>

        .imgContainer div {
            position: relative;
            display: inline-block;
        }

        .imgContainer img {
            width: 200px;
            height: 200px;
            margin: 10px;
        }
        /* 每张图片的X删除按钮  通过定位来实现 */

        .imgContainer span {
            position: absolute;
            top: 5%;
            right: 5%;
            background-color: pink;
            padding: 1px;
            display: none;
            cursor: pointer;
        }
    </style>


{% endblock css %}

{% block content %}
<form class="layui-form layui-form-pane" action="" id="form">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="AAA" value="1" lay-filter="demo-radio-filter" title="阅读">
                        <input type="radio" name="AAA" value="2" lay-filter="demo-radio-filter" title="创作">
                        <input type="radio" name="AAA" value="3" lay-filter="demo-radio-filter" title="开心">
                        <input type="radio" name="AAA" value="4" lay-filter="demo-radio-filter" title="emo">
                        <input type="radio" name="AAA" value="5" lay-filter="demo-radio-filter" title="发呆" checked>
                    </div>
                  </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">附加文案:</label>
                    <div class="layui-input-block">
                        <textarea type="text"  name="copy" id="copy" required maxlength="512"  lay-verify="required"  autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text" >
                    <label class="layui-form-label">图片上传:</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;padding:10px 0 10px 0; ">
                              <div class="imgContainer" id="img_upload" ></div>
                           </blockquote>
                           <button type="button" class="layui-btn"  style="background-color:#4383d3" id="img_upload_btn">添加图片</button>
                        </div>
                        <button id="hideUpload" type="button" style="display: none"></button>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">仅好友可见</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="switch" lay-skin="switch">
                    </div>
                  </div>

                <div class="layui-form-item" >
                    <div class="layui-input-special">
                    <button class="layui-btn" id="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary" id="reset" >重置</button>
                    </div>
                </div>
            </form>

 

<script>
    window.onload=function(){

     //Demo
     layui.use(['form','upload','element','laydate'], function(){
            var form = layui.form;
            var $ = layui.jquery
            ,upload = layui.upload;
            // radio 事件
              form.on('radio(demo-radio-filter)', function(data){
                var elem = data.elem; // 获得 radio 原始 DOM 对象
                var checked = elem.checked; // 获得 radio 选中状态
                var value = elem.value; // 获得 radio 值
                var othis = data.othis; // 获得 radio 元素被替换后的 jQuery 对象


              });

            //多图片上传
            uploadInst=upload.render({
                elem: '#img_upload_btn'         //绑定点击按钮
                ,url: '/pieces/share_life/'     //访问后台路径
                ,multiple: true                 //确认上传多张图片
                ,accept: 'images/*'             //图片格式
                ,number: 6                      //最大上传图片数量
                ,auto:false                     //取消自动上传
                ,method: 'post'                 //请求上传的 http 类型
                ,bindAction:'#layui-btn'       //绑定真正的上传按钮

                ,choose: function(obj){
                var files = obj.pushFile() ;
                //监听提交
                form.on('submit(formDemo)', function(data){
                var date = new Date();
                var formData = new FormData();

                    for (let i in files){
                        console.log('i--->',i);
                        formData.append('files',files[i]);
                    }
                    if(! data.field.switch){
                        data.field.switch = 'off';
                    }

                    formData.append('copy',data.field.copy.toString());
                    formData.append('switch',data.field.switch.toString());
                    formData.append('like',data.field.AAA.toString())


                    console.log('formData--->',formData)
                    console.log('like--->',data.field.AAA)
                    console.log('files--->',files)
                    $.ajax({
                        type:'post',
                        url:'/pieces/share_life/',
                        processData: false,
                        contentType: false,
                        data:formData,
                        success:(res)=>{
                            if(res.code == 200){

                                    open1();
                            }else{
                                    open2();
                            }

                       },
                        error:(err)=>{
                            tip_text.innerHTML = '发布失败！';
                        }
                    });
                return false;
            });
                  //预读本地文件示例，不支持ie8
                  obj.preview(function(index, file, result){
                    console.log('index1--->',index);
                    $('#img_upload').append('<div ><img src="'+ result +'" alt="'+ file.name +'" class="imgContainer"><span id = "'+ index +'"  >X</span></div>');
                    $('#' + index).attr('index_',index);
                    // 鼠标经过图片所在盒子就显示左上角的X
                    $('.imgContainer div ').on('mouseenter', function(e) {
                        $($(this)[0].children[1]).css('display', 'inline-block');
                    });
                    // 鼠标离开图片所在盒子就隐藏左上角的X
                    $('.imgContainer div').on('mouseleave', function(e) {
                        $($(this)[0].children[1]).css('display', 'none');
                    });
                    // 点击X
                    $('.imgContainer div span').on('click', function(e) {
                            var target = $(e.target);
                            var dataIndex = target.attr('index_');
                            console.log('index2--->',dataIndex);
                            delete files[dataIndex];
                            uploadInst.config.elem.next()[0].value = '';
<!--                            console.log('1111');-->
<!--                            $($(this)[0].parentNode)[0].innerHTML = '';-->
                            $(document.getElementById(dataIndex).parentNode)[0].innerHTML = '';
                    });


                    // 监听图片点击事件
                    $('.imgContainer div img').on('click', function(e) {
                        layer.open({
                            type: 4,
                            tips: 2, // 弹出层在下方
                            content: ['<img style="width:400px;height:400px" src="' + $(this)[0].src + '">', this],
                            shade: 0, // 不显示遮罩
                            area: ['450px', '430px'], // 设置宽高
                            time: 1000 // 1秒后自动隐藏弹出层
                        });
                    });
                });
                }
                ,done: function(res){
                  //上传完毕

                },
                error: function() {
                    //请求异常回调
                },

              });

        });


};
        function open1(){
     // 示范对话框所有内置图标
          var icon = 6;
          (function changeIcon(){
            layer.alert('上传成功', {
              icon: icon,
              shadeClose: false,
              title: '成功'
            }, icon = 6 ? function(){
              layer.msg('上传成功', {icon: 6});
            } : changeIcon);
          }());
        }
        function open2(){
     // 示范对话框所有内置图标
          var icon = 5;
          (function changeIcon(){
            layer.alert('上传失败', {
              icon: icon,
              shadeClose: false,
              title: '失败'
            }, icon = 5 ? function(){
              layer.msg('上传失败', {icon: 5});
            } : changeIcon);
          }());
        }


</script>
{% endblock content %}

