{% extends 'base.html' %}
{% block content %}
{#爱心css文件#}

<style>
    .heart{
        background-color: #8a93a0;
        height: 13px;
        width: 13px;
        transform: rotate(-45deg) scale(1);
        display: inline-block;
        }
        .heart::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        background-color: inherit;
        border-radius: 50%;
        height: 13px;
        width: 13px;
        }
    .heart::after {
        content: '';
        position: absolute;
        top: 0;
        right: -50%;
        background-color: inherit;
        border-radius: 50%;
        height: 13px;
        width: 13px;
        }
    .putheart{
        background-color: #FD2B1F;
        height: 13px;
        width: 13px;
        transform: rotate(-45deg) scale(1);
        display: inline-block;
        }
    .putheart::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        background-color: inherit;
        border-radius: 50%;
        height: 13px;
        width: 13px;
        }
    .putheart::after {
        content: '';
        position: absolute;
        top: 0;
        right: -50%;
        background-color: inherit;
        border-radius: 50%;
        height: 13px;
        width: 13px;
        }
    .collect {
       box-sizing: border-box;
       position: relative;
       display: inline-block;
       color:#8a93a0;
       width: 17px;
       height: 17px;
       transform: scale(var(--ggs,1));
       border-left: 7px solid transparent;
       border-right: 3px solid transparent;
       border-bottom: 8px solid transparent;
       box-shadow: 0 0 0 2px,
          inset 6px 4px 0 -4px,
          inset -6px 4px 0 -4px;
       border-radius: 3px
    }
    .collect::after,
    .collect::before {
       content: "";
       display: inline-block;
       box-sizing: border-box;
       position: absolute;
       width: 2px;
       height: 5px;
       background: currentColor;
       transform: rotate(46deg);
       top: 5px;
       right: 4px
    }
    .collect::after {
       transform: rotate(-46deg);
       right: 2px
    }
    .putcollect {
       box-sizing: border-box;
       position: relative;
       color:#8a93a0;
       background-color: #FFFF00;
       display: inline-block;
       width: 17px;
       height: 17px;
       transform: scale(var(--ggs,1));
       border-left: 7px solid transparent;
       border-right: 3px solid transparent;
       border-bottom: 8px solid transparent;
       box-shadow: 0 0 0 2px,
          inset 6px 4px 0 -4px,
          inset -6px 4px 0 -4px;
       border-radius: 3px
    }
    .putcollect::after,
    .putcollect::before {
       content: "";
       display: inline-block;
       box-sizing: border-box;
       position: absolute;
       width: 2px;
       height: 5px;
       background: currentColor;
       transform: rotate(46deg);
       top: 5px;
       right: 4px
    }
    .putcollect::after {
       transform: rotate(-46deg);
       right: 2px
    }
</style>
{# 表单相关依赖 #}
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/formvalidation/js/formValidation.js"></script>
<script src="/static/lib/formvalidation/js/framework/bootstrap.js"></script>
<script src="/static/lib/formvalidation/js/language/zh_CN.js"></script>
<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

{#发送ajax请求，播放视频，删除视频#}
<script>

        function starIt(id,current_page) {
                let url = '/pieces/star_video?v_id='+id+'&current_page='+current_page
                axios.get(url);
                }


        function scanMedia(id,url,title) {
            //播放视频
            $.ajax({
                //增加浏览数量
                url: '/pieces/play_video/',
                method: 'post',
                data: {"v_id": id},
                dataType: "json",
                success: function (data) {
                    if (data.length != 0) {

                        $('#media_src').attr("src", 'http://127.0.0.1:8083'+url);
                        $('#model_title').text(title);
                        document.querySelector('video').load();//video重载，以免读取src失败
                        $('#video_close').click(function () {
                            document.getElementById("myVideo").pause()
                            //$('#myVideo').pause()
                        })
                        $("#exampleLargeModal").modal('show');

                    } else {
                        alert('失败！！！');
                    }
                }
            })
        }




</script>

<!--//导航栏-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <div class="container-fluid"><a class="navbar-brand" href="javascript:">看点广场</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcnt1" aria-controls="navcnt1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcnt1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index/video_mall/">
                        <i class="el-icon-camera"></i> 视频
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="el-icon-cold-drink"></i> 分享生活
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/article_mall/">
                        <i class="el-icon-document-copy"></i> 文章
                    </a>
                </li>

            </ul>
            <form class="d-flex bsa-nav-search" action="/pieces/search_video/">
                <div class="input-group">
                    <input aria-label="搜索关键字" type="text" name="q" class="form-control" placeholder="搜索关键字" autocomplete="off">
                    <button class="btn" type="submit"><i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>
{#视频内容#}
<div class="card border-0 shadow-sm">
    {% for video in piece_list %}
    <div class="card-body p-4">
        <h5 class="card-title">欢迎光临{{video.user.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">来看看你搜索的作品吧！！！</h6>
        <hr>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row">
                            <a href="javascript:scanMedia({{video.id}},'{{video.video.url}}','{{video.title}}')"
                               class="col-md-3 bg-light  d-none d-md-flex align-items-center justify-content-center bsa-art-thumbs-wrapper">
                                <img src={{video.img_path}} class="img-fluid" alt="文章缩略图">
                            </a>
                            <div class="col-md-9">
                                <div class="d-flex flex-column gap-2">
                                    <a href="javascript:" class="h4 text-decoration-none link-dark bsa-ellipsis2">

                                        <span class="badge bg-danger me-1 align-text-bottom">荐</span>
                                        {{video.title}}
                                    </a>

                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                        <a href="javascript:" class="text-decoration-none">
                                            <img src="{{video.user.icon.url}}"
                                                 class="bsa-width-40 bsa-height-40 rounded-circle" alt="作者头像">
                                            <span class="text-muted">{{video.user.username}}</span>
                                        </a>
                                        <div class="text-muted">
                                            <i class="bi bi-clock-fill"></i>
                                            播放次数：<span class="ms-1">{{video.running_count}}</span>
                                        </div>

                                    </div>

                                    <div class="text-secondary bsa-ellipsis3">
                                        {{video.remark}}
                                    </div>

                                    <div class="d-flex align-items-center flex-wrap gap-2">


<!--                                        <div class="likeBtn" id="likeBtn">-->
<!--                                            <a class="heart" id="heart" href="/pieces/star_video/?v_id={{video.id}}&current_page={{current_page}}"></a>-->
<!--                                            <span>{{video.star_count}}</span>-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;/pieces/star_video/?v_id={{video.id}}&current_page={{current_page}}-->
                                        <div>
                                            <a class="{% if video.id in star_ids %}put{% endif %}heart" href="/pieces/star_video?v_id={{video.id}}&current_page={{current_page}}&args=search&q={{q}}"></a>
                                            <span>{{video.star_count}}</span>
                                        </div>
                                        <pre>  </pre>
                                        <div>
                                            <a class="{% if video.id in collection_ids %}put{% endif %}collect" href="/pieces/collect_video?v_id={{video.id}}&current_page={{current_page}}&args=search&q={{q}}"></a>
                                            <span>{{video.collection_count}}</span>
                                        </div>
                                        <pre>  </pre>

                                        <a> 视频时长:{{video.duration_time}} </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    {% endfor %}
</div>
{#分页部分#}
<hr>
<div class="row row-cols-1 g3">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination"> <!-- 逻辑判断，如果有前一页，则可以点击上一页按钮 -->
                {% if page.has_previous() %}
                <li class="page-item"><a class="page-link"
                                         href="/pieces/search_video/?q={{q}}&page={{ page.previous_page_number() }}"
                                         aria-label="Previous"> <span aria-hidden="true">«</span> </a></li>
                {% else %}
                <!-- 禁用按钮 -->
                <li class="page-item"><a class="page-link"
                                         href="/pieces/search_video/?q={{q}}&page=1"
                                         aria-label="Previous"> <span aria-hidden="true">«</span> </a></li>
                {% endif %}
                <!-- 呈现所有的页码 -->
                <!-- 呈现所有的页码 -->
                {% for page_num in page_list %}
                    {% if page_num == current_page %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{page_num}}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/pieces/search_video/?q={{q}}&page={{ page_num }}">{{page_num}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <!-- 逻辑判断，如果有后一页，则可以点击下一页按钮 -->
                {% if page.has_next() %}
                <li class="page-item"><a class="page-link"
                                         href="/pieces/search_video/?q={{q}}&page={{ page.next_page_number() }}"
                                         aria-label="Next"> <span aria-hidden="true">»</span> </a></li>
                {% else %} <!-- 禁用按钮 -->
                <li class="page-item"><a class="page-link"
                                         href="/pieces/search_video/?q={{q}}&page={{num_pages}}"
                                         aria-label="Next"> <span aria-hidden="true">»</span> </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{#播放视频状态框#}
<div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="video_close"></button>
            </div>
            <div class="modal-body">
                <video controls="controls" width="100%" height="100%" autoplay="autoplay" volume="1" id="myVideo"
                       loop="loop">
                    <source id="media_src" src="" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>
{#删除视频状态框#}
<div class="modal fade" id="delete_video" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="video_delete_message">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" id="delete_btn">确认删除</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}