{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <div class="container-fluid"><a class="navbar-brand" href="javascript:">看点广场</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcnt1" aria-controls="navcnt1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcnt1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link "  href="/index/video_mall/">
                        <i class="el-icon-camera"></i> 视频
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/index/life_mall/">
                        <i class="el-icon-cold-drink"></i> 分享生活
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/index/article_mall/">
                        <i class="el-icon-document-copy"></i> 文章
                    </a>
                </li>

            </ul>
<!--            <form class="d-flex bsa-nav-search">-->
<!--                <div class="input-group">-->
<!--                    <input aria-label="搜索关键字" type="text" class="form-control" placeholder="搜索关键字" autocomplete="off">-->
<!--                    <button class="btn" type="submit"><i class="bi bi-search"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
</nav>

{% endblock content %}